@import "../../../Styles/master";

.bam {
  padding-right: $rem-05;
  margin-left: auto;

  @include responsive(tabletSmall) {
    margin-left: 0;
  }

  .bam-logo {
    width: auto;
    height: $rem-2;
  }
}
