@import "../../../../Styles/master";

#about-textContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  #about-title {
    font-family: $heading-font;
    font-size: $text-page-header;
    color: $primary;
    text-align: center;
    flex-basis: 100%;
    padding-top: 1rem;

    @include responsive(tabletSmall) {
      font-size: $text-section-header;
      padding-left: $rem-015;
      padding-right: $rem-015;
    }
  }

  #about-text {
    padding-top: 1rem;
    padding-bottom: $rem-2;
    font-family: $text-font;
    font-size: $text-standard;
    text-align: center;

    @include responsive(desktop) {
      width: 60%;
    }

    @include responsive(desktopThin) {
      width: 70%;
    }

    @include responsive(tablet) {
      width: 80%;
    }

    @include responsive(tabletSmall) {
      width: 90%;
    }

    @include responsive(mobile) {
      width: 95% !important;
    }
  }
}
