@import "../../../Styles/master";

#footer {
  background-color: $background-tertiary;
  color: $background-tertiary-text;
  padding-top: 4rem;
}

#footer-logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  #footer-logo {
    height: 4rem;
    width: auto;
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  font-family: $link-font;
  font-size: $text-link;
  font-weight: bold;
  list-style: none;

  .footer-linkContainer {
    display: block;
    padding-top: 0.5rem;
    padding: 0.5rem 2rem;

    @include responsive(mobile) {
      flex-basis: 100%;
    }

    .footer-link {
      display: block;
      width: 100%;
      color: $background-tertiary-text;
      text-decoration: none;
    }
  }
}

#footer-info {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0.25rem;
  padding-top: 0.25rem;
  font-family: $text-font;
  font-size: $text-tiny;

  @include responsive(tabletSmall) {
    justify-content: center;
    height: auto;
    padding-top: 0.25rem !important;

    #footer-facebookLink {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-basis: 100%;
      padding: 0.25rem;
    }

    #footer-copyright {
      flex-basis: 100%;
      padding-bottom: 0.25rem;
    }
  }

  #footer-facebookLink,
  #footer-copyright {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  #footer-facebookLink {
    padding-left: 0.25rem;
    padding-right: 0.5rem;
    #footer-facebookLogo {
      height: 1rem;
      width: 1rem;
    }
  }
}
