@import "../../../Styles/master";

#footer {
  background-color: $background-secondary;
  color: $background-secondary-text;
}

#footer-logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  #footer-logo {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.footer-links {
  margin: 0;
  padding-left: 0;
  font-family: $link-font;
  font-size: $text-link;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  .footer-linkContainer {
    padding-top: 0.5rem;
    min-width: 5rem;
    max-width: 7rem;
    flex-grow: 1;
    display: block;
    text-align: center;

    .footer-link {
      width: 100%;
      display: block;
      color: $background-secondary-text;
      text-decoration: none;
    }

    @include responsive(mobile) {
      flex-basis: 100%;
    }
  }
}

#footer-info {
  padding: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: $text-font;
  font-size: $text-tiny;

  @include responsive(tabletSmall) {
    justify-content: center;

    #footer-facebookLink {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
    }

    #footer-copyright {
      padding-bottom: 0.25rem;
    }

    #footer-siteBy {
      margin-left: 0 !important;
      flex-basis: 100%;
      text-align: center;
    }
  }

  #footer-facebookLink {
    padding: 0.25rem;
    padding-right: 0.5rem;
    #footer-facebookLogo {
      width: 1rem;
      height: 1rem;
    }
  }

  #footer-siteBy {
    margin-left: auto;
    text-decoration: none;
    color: $background-secondary-text;
  }
}
