@import "../../../Styles/master";

$topNav-height: $rem-3;
$stickyNav-height: $rem-2;
$link-height: $rem-1-5;
$mobileLink-height: $rem-1-25;
$sublistLink-height: $rem-1-25;

.navBar-linkSlidedown,
.navBar-servicesSlidedown {
  transition-duration: 0.3s;
}

#navBar-infoBar {
  min-height: $rem-1-5;
  background-color: $background-secondary;
  color: $background-secondary-text;
  display: flex;
  align-items: center;
  font-family: $text-font;
  font-size: $text-small;

  #navBar-facebookLink,
  #navBar-facebookLogo {
    width: 1rem;
    height: 1rem;
  }

  #navBar-facebookLink,
  #navBar-phoneNumber {
    padding: 0.1rem;
  }

  #navBar-facebookLink {
    margin-left: $rem-05;
    margin-right: $rem-05;

    &:hover {
      cursor: pointer;
    }
  }

  #navBar-address,
  #navBar-phoneNumber {
    display: flex;
    align-items: center;
  }

  #navBar-phoneNumber {
    margin-right: $rem-05;
  }

  #navBar-address {
    padding: 0.1rem;
    text-align: center;
    margin-left: auto;

    .navBar-locationLink {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $background-secondary-text;
      cursor: pointer;
    }
  }

  .navBar-infoIcon {
    color: $background-secondary-text;
    font-size: 1rem;
    margin-right: $rem-025;
  }

  @include responsive(mobile) {
    #navBar-address {
      padding-top: 0 !important;
    }
  }

  @include responsive(tabletSmall) {
    #navBar-addressText {
      display: none;
    }
  }

  @include responsive(tablet) {
    font-size: $text-tiny;
    flex-wrap: wrap;
    justify-content: center;
  }
}

#navBar-navigation,
#navBar-stickyNavigation {
  @extend %background-gradient-dark;

  .navBar-mobileNavMenu {
    display: none;
    position: absolute;
    right: 0.075em;
    color: $background-text;
  }

  .navBar-linkSlidedown {
    overflow: hidden;
    .navBar-links {
      margin: 0;
      padding: 0;

      .navBar-linkContainer {
        list-style: none;
        min-height: $link-height;

        .navBar-link {
          display: inline-flex;
          text-decoration: none;
          font-family: $link-font;
          color: $background-text;
          height: $rem-1-25;

          &:hover {
            color: $primary;
          }

          .navBar-linkText {
            display: inline-flex;
            align-items: center;
            height: 75%;
          }

          &.navBar-link-active {
            color: $primary;
          }

          .navbar-sublistLink-active {
            .navBar-linkText {
              color: $primary !important;
            }
          }
        }

        .navBar-sublistLink {
          font-size: $text-tiny !important;

          &:hover {
            .navBar-linkText {
              color: $primary !important;
            }
          }
        }

        .navBar-expandServicesIconContainer {
          display: flex;
          align-items: center;
          margin-right: -1rem;
          .navBar-expandServicesIcon {
            font-size: 1rem;
          }
        }

        .navBar-serviceLinks {
          margin: 0;
          padding: 0;
          width: 6rem;
          @extend %background-gradient-dark;
          text-align: center;

          .navBar-sublistLinkContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            height: $sublistLink-height;
            list-style: none;

            .navBar-sublistLink {
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
              font-family: $link-font;
              font-size: $text-link;
              color: $background-text;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

#navBar-navigation {
  #navBar-logoHomeLink {
    text-decoration: none;
    min-height: $topNav-height;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: $rem-05;
    padding-top: $rem-05;

    #navBar-companyLogo {
      width: $rem-4;
      height: $rem-4;
    }

    #navBar-companyName {
      font-family: $company-name-font;
      font-size: $text-page-header;
      color: $company-name;
      text-align: center;

      #navBar-trustedSince {
        font-family: $text-font;
        font-size: $text-standard;
        font-style: italic;
        text-align: center;
      }
    }

    @include responsive(tabletSmall) {
      #navBar-companyName {
        font-size: 1rem;
        margin-right: 1rem;

        #navBar-trustedSince {
          font-size: $text-small;
        }
      }
    }

    @include responsive(mobile) {
      .navBar-mobileLinksMenu {
        font-size: $rem-1-25;
      }
      #navBar-companyName {
        font-size: $rem-085;
        margin-right: 1rem;

        #navBar-trustedSince {
          font-size: $text-tiny;
        }
      }

      #navBar-companyLogo {
        width: $rem-2;
        height: $rem-2;
      }
    }
  }

  @include responsive(tablet) {
    #navBar-topNavMobileMenu {
      display: flex;
    }

    .navBar-links {
      flex-wrap: wrap;

      .navBar-linkContainer {
        width: 100%;
        min-height: $mobileLink-height !important;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-top: 1.5px solid $background-text;

        .navBar-link {
          width: 100%;
          height: $rem-1-25;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .navBar-servicesSlidedown {
          width: 100%;
          overflow: hidden;

          .navBar-serviceLinks {
            display: block;
            width: 100%;

            .navBar-sublistLinkContainer {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              .navBar-sublistLink-active {
                color: $primary !important;
              }
            }
          }
        }
      }
    }
  }

  .navBar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .navBar-link {
      font-size: $text-link;
    }

    @include responsive(desktopThin) {
      align-items: center;

      .navBar-linkContainer {
        &:not(:first-child) {
          padding-left: $rem-05;
        }

        .navBar-link-active {
          .navBar-linkText {
            border-bottom: 2px solid $primary;
          }
        }

        .navBar-expandServicesIconContainer {
          display: none !important;
        }

        .navBar-serviceLinks {
          z-index: 1;
          background-color: $secondary !important;

          .navBar-sublistLinkContainer {
            .navBar-sublistLink-active {
              .navBar-linkText {
                color: $primary;
              }
            }
            .navBar-linkText {
              font-size: $text-linkSmall;
              color: $secondary-contrast;
            }

            &:not(:first-child) {
              border-top: 1.5px solid $secondary-contrast !important;
            }
          }
        }

        &:not(:hover) {
          .navBar-serviceLinks {
            display: none;
          }
        }

        &:hover {
          .navBar-serviceLinks {
            position: absolute;
          }
        }
      }
    }

    @include responsive(desktop) {
      .navBar-linkContainer {
        &:not(:first-child) {
          padding-left: $rem-1-25;
        }
      }
    }

    @include responsive(widescreen) {
      .navBar-linkContainer {
        &:not(:first-child) {
          padding-left: $rem-2;
        }
      }
    }
  }
}

#navBar-stickyNavigation {
  height: $stickyNav-height;
  width: 100%;
  z-index: 1;
  position: fixed;
  transition: top 0.3s linear;
  top: -$stickyNav-height - 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive(mobileSmall) {
    justify-content: flex-start;

    .navBar-mobileLinksMenu {
      font-size: 1rem;
    }

    #navBar-companyNameSticky {
      margin-right: 1rem;
      font-size: $text-standard;
    }
  }

  .navBar-expandServicesIconContainer {
    display: none !important;
  }

  &.navBar-stickyNavigationShown {
    top: 0;
  }

  #navBar-logoHomeLinkSticky {
    text-decoration: none;
    height: $stickyNav-height;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    #navBar-companyLogoSticky {
      width: $rem-1-75;
      height: $rem-1-75;
      padding: 0.12$rem-5;
    }

    #navBar-companyNameSticky {
      font-family: $company-name-font;
      font-size: $text-large;
      color: $company-name;
    }

    @include responsive(mobile) {
      #navBar-companyNameSticky {
        font-size: $rem-085;
        margin-right: 1rem;
      }
    }
  }

  @include responsive(stickyNav-linkCutoff-dropdown) {
    flex-wrap: wrap;

    #navBar-logoHomeLinkSticky {
      display: flex;
      width: 100%;
    }

    #navBar-stickyNavMobileMenu {
      display: flex;
    }

    .navBar-expandServicesIconContainer {
      display: flex !important;
    }

    .navBar-linkSlidedown {
      width: 100%;

      .navBar-links {
        flex-wrap: wrap;
        width: 100%;
        font-size: $text-link;

        &.navBar-mobileLinksShown {
          height: auto;
        }

        .navBar-linkContainer {
          padding: 0;
          margin: 0;
          width: 100%;
          min-height: $mobileLink-height !important;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          border-top: 1.5px solid $background-text;

          .navBar-link {
            width: 100%;
            height: $mobileLink-height;
            align-items: center;
            justify-content: center;
          }

          .navBar-servicesSlidedown {
            width: 100%;
            overflow: hidden;

            .navBar-serviceLinks {
              display: block;
              width: 100%;

              .navBar-sublistLinkContainer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }

  .navBar-links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    bottom: 0;

    .navBar-linkContainer {
      display: block;

      .navBar-link {
        display: flex;
        align-items: center;
      }
    }

    @include responsive(stickyNav-linkCutoff-links) {
      min-height: $stickyNav-height !important;

      .navBar-linkContainer {
        padding-left: $rem-065;
        z-index: 1 !important;
        min-height: $stickyNav-height;

        .navBar-link {
          font-size: $text-linkSmall;
          display: flex;
          align-items: center;
          min-height: $stickyNav-height;

          .navBar-linkText {
            min-height: $link-height;
          }

          &.navBar-link-active {
            .navBar-linkText {
              border-bottom: 2px solid $primary;
            }
          }
        }

        .navBar-servicesSlidedown {
          .navBar-serviceLinksHide {
            display: none;
          }

          .navBar-serviceLinks {
            background-color: $secondary !important;

            .navBar-sublistLinkContainer {
              .navBar-sublistLink-active {
                .navBar-linkText {
                  color: $primary;
                }
              }
              .navBar-linkText {
                font-size: $text-linkSmall;
                color: $secondary-contrast;
              }

              &:not(:first-child) {
                border-top: 1.5px solid $secondary-contrast !important;
              }
            }
          }
        }

        &:not(:hover) {
          .navBar-serviceLinks {
            display: none;
          }
        }

        &:hover {
          .navBar-serviceLinks {
            position: absolute;
          }
        }
      }
    }

    @include responsive(desktop) {
      .navBar-linkContainer {
        padding-left: $rem-05;
      }
    }

    @include responsive(widescreen) {
      .navBar-linkContainer {
        padding-left: 1rem;

        .navBar-link {
          font-size: $text-link;
        }
      }
    }
  }
}
