@import "../../../../Styles/master";

#payment {
  #payment-image {
    @include parallax;

    #payment-header {
      font-family: $heading-font;
      font-size: $text-page-header;
      color: $primary;
      background-color: $backgroundTransparent;
      padding: $rem-025;
      border-radius: 1px;

      @include responsive(tabletSmall) {
        font-size: $text-section-header;
        padding: $rem-015;
      }
    }
  }

  #payment-text {
    margin: auto;
    font-family: $text-font;
    font-size: $text-standard;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $primary-contrast;

    @include responsive(desktop) {
      width: 60%;
    }

    @include responsive(desktopThin) {
      width: 70%;
    }

    @include responsive(tablet) {
      width: 80%;
    }

    @include responsive(tabletSmall) {
      width: 90%;
    }

    @include responsive(mobile) {
      width: 95% !important;
    }
  }

  #payment-options {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @extend %background-gradient-dark;

    .payment-option {
      box-sizing: border-box;
      flex-basis: 95%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      color: $background-text;
      font-family: $text-font;
      font-size: $text-large;
      text-align: center;
      &:last-child {
        padding-bottom: 1rem;
      }

      @include responsive(widescreen) {
        flex-basis: 50%;
        padding-right: $rem-05;
        padding-left: $rem-05;

        .separator {
          display: none;
        }
      }

      .payment-optionImage {
        width: $rem-5;
        height: $rem-5;
        padding-bottom: 1rem;
      }

      .payment-optionTitle {
        flex-basis: 100%;
        padding-bottom: $rem-05;
      }

      .payment-optionDescription {
        box-sizing: border-box;
        padding-left: $rem-025;
        padding-right: $rem-025;
        flex-basis: 100%;
        font-size: $text-small;
      }

      #payment-prepayFormDownload {
        border: 2px solid $primary;
        border-radius: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        padding: $rem-025;
        font-family: $text-font;
        font-size: $text-standard;
        text-decoration: none;
        color: $primary;
      }

      .separator {
        flex-basis: 100%;
      }
    }
  }
}
