@import "../../../../Styles/master";

#contact {
  background-color: $page-color;

  #contact-image {
    @include parallax;

    #contact-header {
      font-family: $heading-font;
      font-size: $text-page-header;
      color: $primary;
      background-color: $backgroundTransparent;
      padding: $rem-025;
      border-radius: 1px;

      @include responsive(tabletSmall) {
        font-size: $text-section-header;
        padding: $rem-015;
      }
    }
  }

  #contact-info {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    #contact-infoHeader {
      font-family: $heading-font;
      font-size: $text-section-header;
      padding-bottom: $rem-05;
      text-align: center;
    }

    .contact-infoItem {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      padding-top: $rem-05;
      padding-bottom: $rem-05;
      padding-left: $rem-025;
      padding-right: $rem-025;
      font-family: $text-font;
      font-size: $text-standard;
      .contact-infoIcon {
        font-size: 1rem;
        color: $primary;
        padding-right: $rem-025;
      }
    }

    #contact-map {
      width: 100vw;
      height: 50vh;
      border: none;
      padding: 0;
      margin-top: $rem-05;
    }
  }
}
