@import "../../../../Styles/master";

#contact {
  background-color: $page-color;

  #contact-image {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $header-image-height-desktop;

    @include responsive(tablet) {
      height: $header-image-height-mobile;
    }

    #contact-header {
      font-family: $heading-font;
      font-size: $text-page-header;
      color: $primary;
      background-color: $background;
      padding: 0.25rem;
      border-radius: 1px;

      @include responsive(tabletSmall) {
        font-size: $text-section-header;
        padding: 0.15rem;
      }
    }
  }

  #contact-info {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    #contact-infoHeader {
      font-family: $heading-font;
      font-size: $text-section-header;
      padding-bottom: 0.5rem;
      text-align: center;
    }

    .contact-infoItem {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      font-family: $text-font;
      font-size: $text-standard;
      .contact-infoIcon {
        font-size: 1rem;
        color: $primary;
        padding-right: 0.25rem;
      }
    }

    #contact-map {
      width: 100vw;
      height: 50vh;
      border: none;
      padding: 0;
      margin-top: 0.5rem;
    }
  }
}
