@import "../../../Styles//master";

#servicesPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: $background;

  #servicesPanel-title {
    font-size: $text-section-header;
    text-align: center;
    font-family: $heading-font;
    color: $primary;
    flex-basis: 100%;
    padding-bottom: 1rem;
  }

  .servicesPanel-service {
    flex-basis: 33%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    color: $background-text;
    font-family: $text-font;
    font-size: $text-large;
    text-align: center;
    padding-bottom: 1rem;
    text-decoration: none;
    cursor: pointer;

    @include responsive(tablet) {
      flex-basis: 95%;
    }

    .servicesPanel-serviceContent {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .servicesPanel-iconContainer {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .servicesPanel-iconBackground {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        margin-bottom: 0.5rem;

        .servicesPanel-icon {
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }
}
