$media: screen;

$mobileSmall: 375px;
$mobile: 450px;
$tabletSmall: 600px;
$tablet: 700px;
$desktop: 800px;
$stickyNav-linkCutoff: 920px;
$widescreen: 1100px;

@mixin responsive($breakpoint) {
  @if $breakpoint == mobileSmall {
    @media #{$media} and (max-width: $mobileSmall) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media #{$media} and (max-width: $mobile) {
      @content;
    }
  } @else if $breakpoint == tabletSmall {
    @media #{$media} and (max-width: $tabletSmall) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media #{$media} and (max-width: $tablet) {
      @content;
    }
  } @else if $breakpoint == desktopThin {
    @media #{$media} and (min-width: $tablet) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media #{$media} and (min-width: $desktop) {
      @content;
    }
  } @else if $breakpoint == stickyNav-linkCutoff-dropdown {
    @media #{$media} and (max-width: $stickyNav-linkCutoff) {
      @content;
    }
  } @else if $breakpoint == stickyNav-linkCutoff-links {
    @media #{$media} and (min-width: $stickyNav-linkCutoff) {
      @content;
    }
  } @else if $breakpoint == widescreen {
    @media #{$media} and (min-width: $widescreen) {
      @content;
    }
  }
}

@mixin parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-image-height-mobile;

  @include responsive(widescreen) {
    height: $header-image-height-desktop;
    background-attachment: fixed;
  }
}

@mixin shadow($color, $thickness) {
  text-shadow: (-$thickness) (-$thickness) 0 $color,
    $thickness (-$thickness) 0 $color, -$thickness $thickness 0 $color,
    $thickness $thickness 0 $color !important;
}

// Color Palette
$background: #252525;
$backgroundTransparent: #252525a1;
$background-text: white;
$background-secondary: #c71a1a;
$background-secondary-text: white;
$page-color: white;
$primary: #ed6028;
$primary-contrast: black;
$secondary: #36454f;
$secondary-contrast: white;
$company-name: #ed6028;

// Text Sizing
$text-page-header: 1.5rem;
$text-section-header: 1.25rem;
$text-large: 1rem;
$text-link: 0.6rem;
$text-linkSmall: 0.5rem;
$text-standard: 0.7rem;
$text-small: 0.65rem;
$text-tiny: 0.5rem;

// Typefaces
$text-font: "Metrophobic";
$link-font: "Roboto";
$heading-font: "Lato";
$company-name-font: "Lustria";

// Text Style
$header-outline: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
  1px 1px 0 #fff;

// Element Sizing
$header-image-height-desktop: 20rem;
$header-image-height-mobile: 100vw;
