$media: screen;

$mobileSmall: 375px;
$mobile: 450px;
$tabletSmall: 600px;
$tablet: 850px;
$desktop: 800px;
$stickyNav-linkCutoff: 920px;
$widescreen: 1100px;

@mixin responsive($breakpoint) {
  @if $breakpoint == mobileSmall {
    @media #{$media} and (max-width: $mobileSmall) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media #{$media} and (max-width: $mobile) {
      @content;
    }
  } @else if $breakpoint == tabletSmall {
    @media #{$media} and (max-width: $tabletSmall) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media #{$media} and (max-width: $tablet) {
      @content;
    }
  } @else if $breakpoint == desktopThin {
    @media #{$media} and (min-width: $tablet) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media #{$media} and (min-width: $desktop) {
      @content;
    }
  } @else if $breakpoint == stickyNav-linkCutoff-dropdown {
    @media #{$media} and (max-width: $stickyNav-linkCutoff) {
      @content;
    }
  } @else if $breakpoint == stickyNav-linkCutoff-links {
    @media #{$media} and (min-width: $stickyNav-linkCutoff) {
      @content;
    }
  } @else if $breakpoint == widescreen {
    @media #{$media} and (min-width: $widescreen) {
      @content;
    }
  }
}

@mixin parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-image-height-mobile;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;

  @include responsive(widescreen) {
    height: $header-image-height-desktop;
    background-attachment: fixed;
  }
}

@mixin shadow($color, $thickness) {
  text-shadow: (-$thickness) (-$thickness) 0 $color,
    $thickness (-$thickness) 0 $color, -$thickness $thickness 0 $color,
    $thickness $thickness 0 $color !important;
}

// Color Palette
$background: #020b21;
$backgroundTransparent: #061231a1;
$background-text: white;
$background-secondary: #d34927;
$background-secondary-text: #020b21;
$background-tertiary: #1e1917;
$background-tertiary-text: #e0e0e0;
$page-color: white;
$primary: #d34927;
$primary-contrast: black;
$secondary: #36454f;
$secondary-contrast: white;
$company-name: #d34927;

// Gradients
%background-gradient-dark {
  background: #020b21;
  background: linear-gradient(15deg, #020b21, #051336);
}

// Text Sizing
$text-page-header: 2rem;
$text-section-header: 1.75rem;
$text-large: 1.35rem;
$text-link: 0.85rem;
$text-linkSmall: 0.75rem;
$text-standard: 1.1rem;
$text-small: 0.85rem;
$text-tiny: 0.75rem;

// Typefaces
$text-font: "Metrophobic";
$link-font: "Roboto";
$heading-font: "Lato";
$company-name-font: "Lustria";

// Text Style
$header-outline: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
  1px 1px 0 #fff;

// Element Sizing
$header-image-height-desktop: 20rem;
$header-image-height-mobile: 100vw;

%textbox {
  padding: 10px;
  border-radius: 4px;
  background-color: $backgroundTransparent;
  box-shadow: 0 4px 8px $backgroundTransparent;
  color: $primary;
  font-family: $heading-font;
  font-size: $text-section-header;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
