@import "../../../../Styles/master";

#services {
  background-color: $page-color;

  #services-image {
    @include parallax;

    #services-header {
      @extend %textbox;
    }
  }

  #services-overview {
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-family: $text-font;
    font-size: $text-large;
    text-align: center;

    @include responsive(desktop) {
      width: 60%;
    }

    @include responsive(desktopThin) {
      width: 70%;
    }

    @include responsive(tablet) {
      width: 80%;
    }

    @include responsive(tabletSmall) {
      width: 90%;
    }

    @include responsive(mobile) {
      width: 95% !important;
    }

    #services-serviceContractDownload {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 12rem;
      margin: auto;
      margin-top: 4rem;
      padding: 0.5rem 0.25rem;
      border: 2px solid $primary;
      border-radius: 5px;
      color: $primary;
      font-family: $text-font;
      font-size: $text-large;
      text-decoration: none;
    }
  }

  #services-mapOverview {
    @extend %paragraph-text;

    .services-towns {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 4rem;

      .services-town {
        padding: 1rem 1rem;
        font-weight: bold;
      }
    }
  }

  #services-mapContainer {
    height: 50vh;
    overflow: hidden;

    #services-map {
      position: relative;
      top: -65px !important;
      height: 60vh;
      width: 100%;
      margin-top: 0.5rem;
      padding: 0;
      border: none;
    }
  }
}
