@import "../../../../Styles//master";

#testimonials {
  #testimonials-image {
    @include parallax;

    #testimonials-header {
      font-family: $heading-font;
      font-size: $text-page-header;
      color: $primary;
      background-color: $backgroundTransparent;
      padding: $rem-025;
      border-radius: 1px;

      @include responsive(tabletSmall) {
        font-size: $text-section-header;
        padding: $rem-015;
      }
    }
  }

  #testimonials-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: $text-font;

    #testimonials-title {
      text-align: center;
      font-size: $text-large;
      padding-left: $rem-025;
      padding-right: $rem-025;
      padding-bottom: $rem-2;
    }

    .testimonials-testimonial {
      width: 60%;
      margin: auto;
      font-size: $text-standard;

      @include responsive(tabletSmall) {
        width: 80%;
      }

      @include responsive(mobile) {
        width: 95%;
      }

      .testimonials-quote {
        text-align: center;
        font-style: italic;
      }

      .testimonials-info {
        padding-top: $rem-05;
        text-align: right;
      }
    }
  }
}
