@import "../../../../Styles/master";

#home {
  background-color: $page-color;

  .home-header {
    @extend %textbox;
  }

  #home-image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 55vh;
    max-height: 80vw;
    padding-bottom: 5rem;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    @include responsive(tablet) {
      max-height: 100vw;
      background-position: center;
      background-size: contain;
    }
  }

  #home-fuelContainer {
    padding: 8rem 0;
    color: $primary;
    font-family: $text-font;
    text-align: center;
    @extend %background-gradient-dark;

    #home-fuelList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .home-fuel {
        flex-basis: 25%;
        padding-bottom: 0.75rem;
        box-sizing: border-box;
        font-size: $text-large;

        @include responsive(tablet) {
          flex-basis: 50%;
        }

        @include responsive(mobile) {
          flex-basis: 100%;
        }

        .home-fuelName {
          font-size: $text-section-header;
          font-weight: bold;
        }
      }
    }

    #home-fuelDate {
      padding-top: 4rem;
      font-size: $text-standard;
    }
  }

  #home-serviceListContainer {
    margin: 8rem 0rem;

    #home-serviceListHeading {
      margin: auto;
      margin: 4rem 0rem;
      color: $primary-contrast;
      font-family: $heading-font;
      font-size: $text-section-header;
      font-weight: bold;
      text-align: center;
    }

    #home-serviceList {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-bottom: 0.5rem;
      padding-left: 16.5%;

      @include responsive(tablet) {
        justify-content: center;
        padding-left: unset;
      }

      @include responsive(widescreen) {
        padding-left: 25%;
      }

      .home-service {
        display: flex;
        flex-basis: 50%;
        padding: 0.5rem;
        box-sizing: border-box;
        font-family: $text-font;
        font-size: $text-large;
        font-weight: bold;
        text-decoration: underline;
        color: black;
        transition: 0.25s linear all;

        &:hover {
          color: $primary;
        }

        @include responsive(widescreen) {
          flex-basis: 50%;
        }

        @include responsive(tablet) {
          justify-content: center;
          flex-basis: 100%;
          padding: 0.75rem 0.125rem;

          #home-serviceLongItem {
            text-align: center;
          }
        }

        &#home-serviceLong {
          flex-basis: 100% !important;
        }

        .home-serviceIcon {
          font-size: $text-standard;
          line-height: $text-standard;
          vertical-align: bottom;
        }
      }
    }
  }
}
