@import "../../../../Styles/master";

#home {
  background-color: $page-color;

  #home-header,
  #home-headerMobile {
    font-family: $heading-font;
    font-size: $text-large;
    font-weight: bold;
    font-style: italic;
    color: $primary;
    background-color: $backgroundTransparent;
    padding: $rem-025;
    border-radius: 1px;
    text-align: center;

    @include responsive(tablet) {
      font-size: $text-section-header;
      padding: $rem-015;
    }
  }

  #home-headerMobile {
    display: none;
    border-radius: 0;
    font-size: $text-large;
    border-top: 2px solid $primary;
    @extend %background-gradient-dark;
  }

  @include responsive(tablet) {
    #home-header {
      display: none;
    }

    #home-headerMobile {
      display: block;
    }
  }

  #home-image {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 2rem;
    align-items: center;
    height: 50vh;

    @include responsive(tablet) {
      height: 85vw;
      background-image: url("../../../../Media/Images/photoshoot/home2mobile.jpg") !important;
      background-attachment: scroll;
    }
  }

  #home-fuelContainer {
    padding-top: $rem-05;
    @extend %background-gradient-dark;
    color: $primary;
    text-align: center;
    font-family: $text-font;

    #home-fuelTitle {
      font-family: $heading-font;
      font-size: $text-large;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    #home-fuelList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .home-fuel {
        padding-bottom: $rem-075;
        font-size: $text-standard;
        box-sizing: border-box;
        flex-basis: 25%;

        @include responsive(tablet) {
          flex-basis: 50%;
        }

        @include responsive(mobile) {
          flex-basis: 100%;
        }

        .home-fuelName {
          font-size: $text-large;
        }
      }
    }

    #home-fuelDate {
      padding: $rem-05;
      font-style: italic;
      font-size: $text-standard;
    }
  }

  #home-serviceListContainer {
    margin: 8rem 0rem;

    #home-serviceListHeading {
      margin: auto;
      font-family: $heading-font;
      font-size: $text-section-header;
      text-align: center;
      margin: 4rem 0rem;
      font-weight: bold;
      color: $primary-contrast;
    }

    #home-serviceList {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: $rem-05;
      padding-left: 16.5%;

      @include responsive(tablet) {
        padding-left: unset;
        justify-content: center;
      }

      @include responsive(widescreen) {
        padding-left: 25%;
      }

      .home-service {
        display: flex;
        font-size: $text-large;
        font-family: $text-font;
        font-weight: bold;
        box-sizing: border-box;
        padding: 0.5rem;
        flex-basis: 50%;

        @include responsive(widescreen) {
          flex-basis: 50%;
        }

        &#home-serviceLong {
          flex-basis: 100% !important;
        }

        @include responsive(tablet) {
          flex-basis: 100%;
          padding: 0.12$rem-5;
          justify-content: center;

          #home-serviceLongItem {
            text-align: center;
          }
        }

        .home-serviceIcon {
          font-size: $text-standard;
          line-height: $text-standard;
          vertical-align: bottom;
        }
      }
    }
  }
}
